{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "react-app",
        "plugin:react/recommended",
        "airbnb",
        "plugin:jsx-a11y/recommended",
        "prettier",
        "eslint:recommended"
    ],
    "plugins": ["react", "jsx-a11y", "prettier","import"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
            }
        }
    },
    
    "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "no-console": "error",
        "semi": 0,
        "prefer-destructuring": ["error", { "object": true, "array": false }],
        "consistent-return": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "endOfLine": "off",
        "func-names": ["error", "never", { "generators": "as-needed" }],
        "no-restricted-exports": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never",
                "d.ts": "never"
            }
        ],
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function"
            }
        ],
        "react/jsx-filename-extension": [
            1, 
            { "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"] }
        ],
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 4
            }
        ]
    }
}
