.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 38px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
}

.text {
    font-size: 15px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}