.emailbtnsection {
    display: flex;
    padding: 2px;
    justify-content: right;
}

.emailbtn {
    width: 320px;
    height: 52px;
    margin: 0px;
    border: 0px;
    border-radius: 15px;
    padding: 8px 50px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: black;
}

button, a {
    text-decoration: none;
}