@import "https://ease-css.netlify.app/ease/css/ease.css";
.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1500px;
}
.f-white {
  color: white;
}

hr {
  border: 0px;
  border-top: 1px solid rgb(233, 233, 233);
}
.is-active {
  background: #03787c;
  color: white;
}

.btn,
button {
  background-color: transparent;
  border: 1px solid rgb(235, 235, 235);
  /* padding: 0.2rem 0.7rem; */
  border-radius: 5px;
  margin: 0rem 0.2rem;
  cursor: pointer;
  transition: 0.15s all;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* justify-content: center; */
}
.btn-array {
  display: flex;
  justify-content: left;
  align-items: center;
}
.ProseMirror {
  /* padding: 0.2rem 0.5rem; */
  border-style: dotted;
  border: 1px solid #03787c;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  width: 95%;
  margin: 0.1rem auto;
  overflow: auto;
  height: 2em;
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: "Your Question...";
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}
.ProseMirror img {
  max-width: 15rem;
  height: auto;
}
.ProseMirror a {
  color: rgb(0, 51, 255);
  font-weight: bold;
  cursor: pointer;
}
.t-center {
  text-align: left;
}
.modal {
  padding: 10rem;
  position: absolute;
  top: 0;
  left: 2.2rem;
  background: #03787c;
  z-index: 10;
  border-radius: 5px;
}
.close {
  right: 0.5rem;
  top: 0.5rem;
}
.w-100 {
  width: 100%;
}
.unlink {
  background-color: #03787c;
  color: white;
}

button:hover {
  background-color: #03787c;
  color: white;
}
